.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right .fighter-preview___img {
  transform: scale(-1, 1);
}

.fighter-preview___info {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: #000000 0 0 4px;
  color: #ffffff;
}
